.app {
	width: 800px;
	margin: 0 auto;
}
.contactImage {
	width: 100px;
	float: left;
	background-color: white;
}
.contactsList {
	padding: 0;
}
.contactLabel {
	background-color: grey;
}
.contactLabel, .contactEmail {
	padding: 10px;
	font-size: 18px;
	margin-left: 120px;
	margin-top: 5px;
	margin-bottom: 2px;
	
}
.contactEmail {
	background-color: #8bd930;
}


.contactItem {
	height: 150px;
	width: 400px;
	margin: 0 auto;
	margin-bottom: 50px;
	
}
.contactForm {
	margin: 0 auto;
	display: flex;
	justify-content: center;
	padding-bottom: 25px;
	padding-top: 25px;
	background-color: darkorange;
	
}
.contactForm input, .contactForm button{
	line-height: 25px;
}